@import "src/styles/colors";

.app-quantity {
  display: flex;
  align-items: center;
  .app-quantity-ajd {
    height: 24px;
    width: 24px;
    color: white;
    border-radius: 50%;
    background-color: $color_secondary;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  .app-quantity-sub {

  }

  .app-quantity-amount {
    min-width: 24px;
    text-align: center;
  }

  .app-quantity-add {

  }

  .app-quantity-delete {
    font-size: 20px;
    margin-left: 10px;
    color: #949494;
    cursor: pointer;
  }
}
